// Write you own style here

$ti-font-path: "/build/dashboard/fonts/themify-icons";
@import 'node_modules/themify-icons-scss/scss/themify-icons';

$fa-font-path: "/build/dashboard/fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";

/* icon font path, required */
$--font-path: '/build/dashboard/fonts/element-ui';
@import "~element-ui/packages/theme-chalk/src/index";

.page-container {
  margin-bottom: 20px;
}

.dropdown + .dropdown {
  margin-left: 0 !important;
}

.dropdown-content .field .checkbox {
  padding: 0 !important;
  margin-left: 5px;
}

@media (max-width: 1087px) {
  .navbar {
    padding: 0.5rem 0rem;
  }

  .navbar-brand {
    width: 100%;
  }
  
  .navbar-menu {
    width: 100%;
  }

  .full-width-dropdown {
    margin-bottom: 5px;
    width: 100%;
    .dropdown-trigger {
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }
}
