.content_top {
    margin-bottom: 20px;
}

.qc-locked {
    opacity: 0.5;
    cursor: no-drop;
}

.row-is-saved {
    background-color: #f5f5f5;
}

.row-is-purchased {
    background-color: #fcf8e3;
}

.row-is-hold {
    background-color: #f2dede;
}

.row-is-cu-risk-hold,
table>tbody>tr.row-is-cu-risk-hold>td {
    background-color: #fd7878 !important;
}

.row-is-rush {
    background-color: #dff0d8 !important;
}